<h1> Projects </h>
<h2><%= @projects.name%></h2>
<p>Challenge Name: <%= @projects.name %></p>
<p>Challenge Materials: <%= @projects.material %></p>
<p>Number of Total Contestants: <%= @projects.contestants_total %></p>
